.col {
    width: 20%;
}
.col40 {
    width:40%;
}

a {
    color: grey;
}

li {
    margin-bottom: 10px;
}

.footer{
    background-color: rgb(31, 30, 30);
    color:white;
}

.btn {
    display:inline-block;
    padding: 5px 5px;
    font-size: 1rem;
    border:1px solid rgb(77, 140, 222);  
}






