/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
  max-width:100%;
}

ul {
  list-style: none;
   display:flex;
}

a {
  text-decoration:none;
  color:inherit;
}
.container {
  width:100%;
  max-width: 900px;
  margin: 0 auto;
}
 /*Utilities */

.d-flex {
  display:flex;
}
.flex-direction-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}


.py-20 {
  padding: 20px;
}
.py-40 {
  padding-top:40px;
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.color-white {
  color:white;
}
