/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
  max-width:100%;
}

ul {
  list-style: none;
   display:flex;
}

a {
  text-decoration:none;
  color:inherit;
}

.d-flex {
  display:flex;
}
.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.py-20 {
  padding: 20px;
}
