@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}
img {
  max-width:100%;
}

ul {
  list-style: none;
   display:flex;
}

a {
  text-decoration:none;
  color:inherit;
}
.container {
  width:90%;
  max-width: 1000px;
  margin: 0 auto;
}
 /*Utilities */

.d-flex {
  display:flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-40 {
  padding-top:40px;
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.color-white {
  color:white;
}

.footer-top {
  padding: 40px 0px;
  background-image: url(./assets/img/dc-logo-bg.png), url(./assets/img/footer-bg.jpg);
  background-size: 40%, cover;
  background-repeat: no-repeat;
  background-position: right;
}
.gap-10{
  gap:10px;
}
.col {
  width: calc((100% / 6) - 10px);
  min-width: 100px;
  padding: 10px;
}
/* HEADER */
header {
  padding: 10px 0px;
}
.logo {
  height: 70px;
}

/* MAIN */

.main-top {
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: 100%;
  padding: 140px 0px;
  background-repeat: no-repeat;
}
/* CARDS */
.col img {
  width:100%;
  height:180px;
}
.col h3 {
  color:white;
  font-size: 0.8rem;
  text-transform: uppercase;
}




