/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img {
  max-width:100%;
}

ul {
  list-style: none;
   display:flex;
}

a {
  text-decoration:none;
  color:inherit;
}
.container {
  width:90%;
  max-width: 1000px;
  margin: 0 auto;
}
 /*Utilities */

.d-flex {
  display:flex;
}
.wrap {
  flex-wrap: wrap;
}
.flex-direction-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-40 {
  padding-top:40px;
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.color-white {
  color:white;
}

.footer-top {
  padding: 40px 0px;
  background-image: url(./assets/img/dc-logo-bg.png), url(./assets/img/footer-bg.jpg);
  background-size: 40%, cover;
  background-repeat: no-repeat;
  background-position: right;
}
.gap-10{
  gap:10px;
}
.col {
  width: calc((100% / 6) - 10px);
  min-width: 100px;
  padding: 10px;
}

.col img {
  width:100%;
  height:180px;
}
.col h3 {
  color:white;
  font-size: 0.8rem;
  text-transform: uppercase;
}



